<section class="page-header">
<!--   <img src="{{ site.logo }}" alt="{{ page.title | default: site.title | default: site.github.repository_name }}" class="project-name" /> -->
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">CS-7641 Machine Learning Course Project</h2>
  <h2 class="team_members">Abhishek Patria, Connor DePeter, Kunaal Ahuja, Madhur Adlakha, Raghav Apoorv</h2>
  <a href="index" class="btn">Home</a>
  <a href="proposal" class="btn">View Project Proposal</a>
  <a href="https://github.gatech.edu/kahuja8/ML-Yelp-Reviews/raw/master/Project%20Proposal.pdf" class="btn">Download Project Proposal</a>  
</section>
